<header>
  <div class="wrap nav">
    <a href="/index.html"><img class="logo" src="/images/clear-boundaries-logo.webp" alt="Clear Boundaries"></a>
    <nav class="navlinks">
      <div class="has-dropdown"><a href="/index.html#services" class="dropdown-toggle">Services</a><div class="dropdown"><a href="/psychosocial-consultancy.html">Psychosocial Consultancy</a><a href="/psychosocial-training.html">Psychosocial Training</a><a href="/workplace-investigations.html">Workplace Investigations</a></div></div>
      <a href="/index.html#founders">About</a>
      <a href="/index.html#situations">Who we work with</a>
      <a class="{{ 'active' if active == 'blog' else '' }}" href="/blog/">Blog</a>
      <a href="/index.html#contact">Contact</a>
      <a class="btn btn-dark" href="/index.html#contact">Book a free consult</a>
      <img class="header-photo" src="/images/founders-photo.png" alt="Abbie Janssen and Charlie Cole, co-founders of Clear Boundaries">
    </nav>
  </div>
</header>
